html,
body {
    height: 100%;
    font-family: 'Roboto Slab', serif;
    background-size: contain;
    background-image: url("images/bg.jpg");
}
a{
    color: rgba(0,0,0,0.7);
}
a:hover{
    color: #6296BE;
    text-decoration: none;
}
@font-face {
    font-family: Didot; /* ????????? ?????? */
    src: url(/frontend/web/fonts/didot.ttf); /* ???? ? ????? ?? ??????? */
}

.wrap {
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    margin-bottom: 4%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.posts{
    width: 75%;
    float: left;
}
.nav.nav-pills.nav-stacked{
    max-width: 25%;
    float: right;
}
.blog-post img,
p img{
    max-width: 100%;
}
.gallery-item img{
    max-width: 100%;
}
h2.blog-post-title,
.blog-post-title a{
    font-family: Didot;
    color: rgba(0, 0, 0, 0.7);
}
.navbar-fixed-top{
    position: inherit;
    margin-bottom: 0;
}
.container{
    background-color: white;
}
.navbar-inverse{
    background: none;
    border: none    ;
}
.navbar-header{
    float: none;
    text-align: center;
}
.navbar-brand{
    width: 100%;
    font-size: 20pt;
}
.navbar-inverse .navbar-brand{
    color: rgba(0, 0, 0, 0.7);
    margin: 3%;
}
.navbar-inverse .navbar-brand:hover{
    color: rgba(0, 0, 0, 0.7);
}
.navbar-right{
    float: none !important;
}
.navbar-nav.navbar-right.nav{
    display:inline-block !important;
}
.collapse.navbar-collapse{
    text-align: center;
    border-top: solid rgba(0,0,0,0.1);
    border-bottom: solid rgba(0,0,0,0.1);
    margin: 0;
    padding: 1.5% 0;
}
.navbar-inverse.navbar-fixed-top.navbar .container{
    margin-top: 5%;
}
.wrap .container{
    padding-top: 0;
    padding-left: 7%;
    padding-right: 7%;
}
.navbar-inverse .navbar-nav > .active > a{
    color: #6296BE;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a:hover{
    color: #6296BE;
    background-color: transparent;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #6296BE;
}
.navbar-nav.navbar-right.nav li{
    text-transform: uppercase;
}
.posts{
    margin-right: 2%;
}
.blog-post-meta{
    color: rgba(0,0,0,0.4);
    font-size: 1em;
}
p{
    color: rgba(0,0,0,0.6);
}
.intro{
    font-size: 1.3em;
}
footer .container{
    padding-bottom: 2%;
    padding-right: 7%;
    padding-left: 7%;
    position: relative;

}
footer .container:before{
    content : "";
    left    : 0;
    bottom  : 0;
    height  : 2.5em;
    width   : 100%;  /* or 100px */
    border-top: solid rgba(0,0,0,0.1);
}
.nav.nav-pills.nav-stacked h2{
    font-size: 1.5em;
    color: rgba(0,0,0,0.7);
}
.nav.nav-pills.nav-stacked a{
    color: rgba(0,0,0,0.5);

    border-top: 1px solid rgba(0,0,0,0.1);
}

.nav.nav-pills.nav-stacked a:hover{
    background-color: transparent;
    color: #6296BE;
}
.nav.nav-pills.nav-stacked li.active a{
    background-color: transparent;
    color: #6296BE;
}
.navbar-header{
    background: url("images/head.png") no-repeat;
    background-size: contain;
}
.blog-post{
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.message{
    margin-top: 4%;
}
.alert{

    margin-top: 4%;
    border-radius: 0;
}
.photos{
    margin-top: 2%;
}
.videos iframe{
    width: 100%;
}
footer img{
    width: 30px;
    height: 30px;
}
footer .container{
    text-align: center;
}
footer span{
    color: rgba(0,0,0,0.4);
}
.gallery-item{
    opacity: 0;
}
.summary{
    opacity: 0;
}
.pagination{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.pagination > li > a, .pagination > li > span{
    border: none;
    color: rgba(0,0,0,0.7);
}
.pagination > li > a:hover{
    color: #6296BE;
    background-color: transparent;
}
.pagination > .active > a,
.pagination > .active > a:hover{
    color: #6296BE;
    background-color: transparent;
}

.pull-right{
    position: absolute;
    top: 1.5em;
    right: 4%;
}
.pull-right img{
    height: 4.47em;
    width: 4em;
}
.social{
    position: relative;
}

